%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:campaigns, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:campaigns, :new)

.tabs-content
  = form_for :campaign, url(:campaigns, :create), :class => 'form-horizontal' do |f|
    =partial 'campaigns/form', :locals => { :f => f }
