%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:chapters, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:chapters, :new)

.tabs-content
  = form_for :chapter, url(:chapters, :create), :class => 'form-horizontal' do |f|
    =partial 'chapters/form', :locals => { :f => f }
