%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:reply_rolls, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:reply_rolls, :new)

.tabs-content
  = form_for :reply_roll, url(:reply_rolls, :create), :class => 'form-horizontal' do |f|
    =partial 'reply_rolls/form', :locals => { :f => f }
