%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:scenes, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:scenes, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:scenes, :edit, :id => @scene.id)

.tabs-content
  = form_for :scene, url(:scenes, :update, :id => @scene.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'scenes/form', :locals => { :f => f }
