%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:replies, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:replies, :new)

.tabs-content
  = form_for :reply, url(:replies, :create), :class => 'form-horizontal' do |f|
    =partial 'replies/form', :locals => { :f => f }
