%a.has-text-dark.dropdown-item{href: "#{url_builder(@campaign)}/members"}
  %span.icon.is-small
    %i.fa.fa-users
  %span Campaign Members    
%a.has-text-dark.dropdown-item{href: "#{url_builder(@campaign)}/characters"}
  %span.icon.is-small
    %i.fa.fa-user-secret
  %span Manage Characters
%a.has-text-dark.dropdown-item{href: "#{url_builder(@campaign)}/notes"}
  %span.icon.is-small
    %i.fa.fa-bookmark
  %span Manage Notes
%a.has-text-dark.dropdown-item{href: "#{url_builder(@campaign)}/join_link"}
  %span.icon.is-small
    %i.fa.fa-link
  %span Manage Join Link