- if @chapter.errors
  - @chapter.errors.full_messages.each do |msg|
    .notification.is-danger #{msg}
.field
  %label.label{for: "title"} Title:
  .control.has-icons-left.has-icons-right
    = text_field_tag :title, class: "input is-medium", id: "title", maxlength: "64", placeholder: "e.g. Your Awesome Chapter", value: @chapter.title
    %span.icon.is-small.is-left
      %i.fa.fa-header
.field
  %label.label{for: "slug"} URL Slug:
  .control.has-icons-left.has-icons-right
    = text_field_tag :slug, class: "input", id: "slug", maxlength: "64", placeholder: "e.g. your-awesome-chapter", value: @chapter.slug
    %span.icon.is-small.is-left
      %i.fa.fa-link
    %p.help Lowercase letters, numbers and dashes only.
.field
  %label.label{for: "description"} Description:
  .control.has-icons-left.has-icons-right
    = text_area_tag :description, class: "textarea", value: @chapter.description